[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "0az.github.io"]
	path = 0az.github.io
	url = git@github.com:0az/0az.github.io.git
